/Cube
/Squares
/SpaceInvaders
tags

.DS_Store
Cube.dSYM

# Eclipse
.cproject
.project
.settings

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
